<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-size: 16px;
            margin: 0;
        }
        .header {
            text-align: center;
            font-size: 1rem;
        }
        .orderContainer, .shipping {
            display: flex;
            flex-direction: column;
        }
        .orderContainer .title {
            font-size:1rem;
            font-weight: bold;
        }
        .orderLists,.shipInfo,.orderTotal {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .orderLists .imgContainer {
            height: 100%;
            width: 10rem;
        }
        .imgContainer img {
            width: 100%;
        }
        .orderLists span {
            padding: 0 1rem;
        }
        .orderLists .price {
            flex: 1;
            text-align: end;
        }
        .shipping,.orderLists ,.orderTotal,.link{
            padding: 1rem;
            /* border-bottom: 1px solid #d3d3d3; */
        }
        .title {
            padding: 0 1rem;
        }
        .shipInfo .address,
        .shipInfo .note {
            display: flex;
            flex-direction:column;
            flex:1;
        }
        .orderTotal > h2 {
            flex: 1;
            text-align: center;
        }
        hr {
                border: 0;
                clear:both;
                display:block;
                width:96%;              
                background-color:#d3d3d3;
                height: 1px;
            }
    </style>
</head>
<body>
    <div class="header">
        <h1>Order Comfirmation</h1>
        <h3>We recieved your order and we'll let you know we ship it out</h3>
    </div>
    <div class="orderContainer">
        <h3 class="title"> Hi <%= user.first_name %> <%= user.last_name %>  </h3>
        <h3 class="title">Your Order #(<%= data.id %>)</h3>
        <hr>
        <% let total = 0 %>
        <% for (let i =0 ; i < data.line_items.length ; i++) { %> 
            <% total += +data.line_items[i].total %>
        <div class="orderLists">
            <span><%= data.line_items[i].quantity %> </span>
            <span>X</span>
            <div class="imgContainer">
                <img src="https://scr.vn/wp-content/uploads/2020/08/H%C3%8CNH-%E1%BA%A2NH-M%E1%BA%A0NG-%C4%90%E1%BA%B8P.jpg">
            </div>
            <span><%= data.line_items[i].name %> </span>
            <span class="price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.line_items[i].total) %> </span>
        </div>
        <hr>
        <% } %> 
        <div class="shipping">
            <div class="shipInfo">
                <div class="address">
                    <h4>Shipping Adress</h4>
                    <span>YKSD New york City</span>
                </div>
                <div class="note">
                    <h4>Note</h4>
                    <span><%= data.customer_note %> </span>
                </div>
            </div>
            <div class="payment">
                <h4>Payment</h4>
                <span><%= data.payment_method %> <%= data.payment_method_title %>  </span>
            </div>
        </div>
        <hr>
    </div>
    <div class="orderTotal">
        <h2>
            Order Total: <span style="color:red"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total) %> </span>
        </h2>
    </div>
    <hr>
    <div class="link">
        <a href="<%= url %>"><button>Here to back our shop</button></a>
    </div>
</body>
</html>